ng-container {
    overflow-y: scroll;
}

.addbtn {
    border-radius: 20px;
    height: 23px;
    font-size: 12px;
    margin-left: 7px;
    background-color: #f0fff0;
}

.submitbtn {
    border-radius: 20px;
    height: 23px;
    font-size: 12px;
    margin-left: 7px;
    margin-top: 4px;
    background-color: #f0fff0;
}