<!-- 

    <ng-container>
        <div class="container">
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Image</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>{{item?.name}}</td>
                                <td><img style="width: 120px;" src={{item?.imageURL}} alt=""></td>
                                <th style="width: 12%;">{{item?.price}}</th>
                                <td style="width: 12%;">{{item?.quantity}}</td>
                                <td style="width: 12%;">{{item?.total}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container> -->

    <div class="container py-5">

        <!-- For demo purpose -->
        <!-- <div class="row text-center text-white mb-5">
          <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Bootstrap 4 list</h1>
            <p class="lead mb-0">Create an elegant product list using Bootstrap 4 list group</p>
            <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white"> 
                      <u>Bootstrapious</u></a>
            </p>
          </div>
        </div> -->
        <!-- End -->
      
        <div class="row">
          <div class="col-lg-8 mx-auto">
      
            <!-- List group-->
            <ul class="list-group shadow">
      
              <!-- list group item-->
              <li class="list-group-item">
                <!-- Custom content-->
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                  <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2">{{item?.name}}</h5>
                    <p class="font-italic text-muted mb-0 small">Brand {{item?.brand}}</p>
                    <p class="font-italic text-muted mb-0 small">For {{item?.gender}}</p>
                    <p class="font-weight-bold my-2">Total Sales: {{item?.quantity}} pieces</p>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                      <h6 class="font-weight-bold my-2">Php {{item?.price}}</h6>
                      <ul class="list-inline small">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                      </ul>
                    </div>
                  </div><img src={{item?.imageURL}} alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                </div>
                <!-- End -->
              </li>
              <!-- End -->
            </ul>
            <!-- End -->
          </div>
        </div>
      </div>