<div *ngIf = "images && images.length > 0" class = "banner-container">
    <img *ngFor = "let image of images; let i = index"
    [src] = "image.imageSrc"
    [ngClass] = "{'image-active' : selectedIndex === i}"
    class = "fade">

    <div *ngIf = "indicators" class = "banner-dot-container">
        <span *ngFor = "let dot of images; let i = index" class = "dot"
        [ngClass] = "{'active': selectedIndex === i}"
        (click) = "selectedImage(i)">
        </span>
    </div>

    <button *ngIf = "controls" class = "btn-banner btn-prev">
        <i class="fas fa-arrow-circle-left icon-banner icon-prev"
        (click) = "onPrevClick()"></i>
    </button>

    <button *ngIf = "controls" class = "btn-banner btn-next">
        <i class="fas fa-arrow-circle-right icon-banner icon-next"
        (click) = "onNextClick()"></i>
    </button>
</div>
