<div class="container" id="container">

      <div class="form-container sign-in-container">
        <form [formGroup] = "loginForm" (ngSubmit) = "login()">
          <h1>Login</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>

  <div class="emailInput" style ="width:165%">
      <mat-form-field class="full-width" appearance="outline" style ="width:250px">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Enter email address" required
        />
        <mat-error *ngIf="!loginForm.controls['email'].valid">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">
            Invalid Email Format
          </mat-error>
      </mat-form-field>
    </div>
    <div class = "passwordInput">
  <mat-form-field class="full-width" appearance="outline" style ="width:250px">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
    [attr.aria-pressed]="hide" type = "button">
    <mat-icon>
        {{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
</button>
<mat-error *ngIf="!loginForm.controls['password'].valid">
    Password is required
  </mat-error>
</mat-form-field>
</div>
<!--endofmatformfield-->

          <a routerLink="/signup">Forgot your password?</a>
          <button class="loginbtn">Log In</button>
        </form>
      </div>


	<div class="overlay-container" >
    <img src="assets/img/signin.jpg" height = 100%>

			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
        <h6>Welcome back to</h6>
        <h2 style = "font-family: Garamond, serif;"><strong>S E V N </strong></h2>
        
				<p>To keep connected with us please login with your personal info</p>
        <p>Not a member yet?</p>
				<button class="signupbtn" (click)="signUp()" id="signUp">Sign Up Now <i class="fa fa-long-arrow-right" aria-hidden="true" style = "color: white"></i></button>
        
			</div>

		</div>
	
</div>
