<!-- <mat-tab-group mat-align-tabs="center">
  <mat-tab label="SHOES">Content 1</mat-tab>
  <mat-tab label="BAGS">Content 2</mat-tab>
  <mat-tab label="APPAREL">Content 3</mat-tab>
  <mat-tab label="JEWELRY">Content 4</mat-tab>
  <mat-tab label="ACCESSORIES">Content 5</mat-tab>
</mat-tab-group> -->

<!-- <mat-grid-list  -->
  <div class = "banner">
  <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile rowspan="1" colspan="4" ></mat-grid-tile>
  <img src="https://puls-img.chanel.com/1657270308494-01readytoweardesktop1jpg_856x2416.jpg"
  style="object-fit: cover; width:100%; margin-top:95px;">
  <div class="text" style="margin-top:95px;font-family: Garamond, serif; color:white;">
    <br>
    <p>Be Exclusive.</p>
    <p>Be Divine.</p>
    <p>Be Yourself with SEVN.</p>
    </div>
  
<hr>
<div class="intro">FALL-WINTER 2022/23 PRE-COLLECTION</div>
<hr>
<!--CATEGORY-->
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<div class="container">
  <h6 style = "font-size:20px; text-decoration: underline;"><strong>SHOP BY CATEGORY</strong></h6>
  <div class="row" style = "justify-content: center;">

    <div class="col-md-1">
      <a (click)="filter('SHOES')">
      <div class="card card-1">
      </div>
      <h6><b>SHOES</b></h6>
      </a>
    </div>

    <div class="col-md-1">
      <a (click)="filter('BAGS')">
      <div class="card card-2">
      </div>
      <h6><b>BAGS</b></h6>
    </a>
    </div>

    <div class="col-md-1">
      <a (click)="filter('APPAREL')">
      <div class="card card-3">        
      </div>
      <h6><b>APPAREL</b></h6>
      </a>
    </div>

    <div class="col-md-1">
      <a (click)="filter('JEWELRY')">
      <div class="card card-4">
      </div>
      <h6><b>JEWELRY</b></h6>
      </a>
    </div>

    <div class="col-md-1">
      <a (click)="filter('ACCESSORIES')">
      <div class="card card-5">
      </div>
      <h6><b>ACCESSORIES</b></h6>
      </a>
    </div>

  </div>
</div>
<!--END OF CATEGORY-->

<div class = "instance" *ngFor = "let data of filterCategory | filter: searchKey: 'name' | filter: SearchBrand:'brand' | sort:[SortbyParam,SortDirection]">
  <app-dashboard-item [product] = "data"
  (addtocartEmitter) = "executeAddtoCart(data)"
  (priceEmitter) = "onSortDirection()">
  </app-dashboard-item>
</div>


</mat-grid-list>
</div>

<div class = "filter">
  <br>
  <label>Filter by Brand: &nbsp; </label>
  <input [(ngModel)]='brand'>
  <button type="button" (click)="onBrandFilter()">Search</button>
  <button type="button" (click)="onBrandFilterClear()">Clear</button> &nbsp;
  
  <label>Sort by &nbsp;</label>
  <select [(ngModel)] = 'SortbyParam'>
  <!-- <option value="brand">City</option> -->
  <option value="price">Price</option>
  </select>
  <button type="button" (click) = "onSortDirection()">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
  </button>
  <br>
  </div>