.ordercard {
    // background: rgb(0,0,0);
    // background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(180,148,233,0.18017629415047265) 100%);
    width: 27rem;
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-bottom: 5px;
    margin-left:10px;
    transition: all .2s ease-in-out;
    box-shadow: none !important;
    border-radius: 0px;
}

.container__text {
    position: relative;
    top: 5px;
    left: 20px;
    width: 20rem;
}

img {
    width: 140px;
    height: 175px;
    position: relative;
    padding: 10px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;

   }

.mat-card-title {
    font-size: 15px;
    font-weight: 500;
    margin-top: -14px;
}

.mat-card-subtitle {
    margin-bottom: 5px;
}

.mat-card-content {
    line-height: 13px;
}