<!-- <h4>{{user?.email}}</h4>
<h4>{{user?.firstname}}</h4>
<h4>{{user?.lastname}}</h4>
<h4>{{user?.gender}}</h4> -->

 <!-- <button (click) = "changeActiveStatus()" *ngIf = "status">Deactivate</button>
<button (click) = "changeActiveStatus()" *ngIf = "status == false">Activate</button>  -->

<div class="container mt-5 d-flex justify-content-center">

    <div class="card p-3">

        <div class="d-flex align-items-center">

            <div class="image">
        <img src="http://cdn.onlinewebfonts.com/svg/img_569204.png" class="rounded" width="155" >
        </div>

        <div class="ml-3 w-100" style = "margin-left: 10px;">
            
           <h4 class="mb-0 mt-0">{{user?.firstname}} {{user?.lastname}}</h4>
           <span>{{user?.gender}}</span>
           <div>{{user?.email}}</div>

           <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
            <span>User Type: <b>{{user?.userType}}</b></span>
           </div>


           <div class="button mt-2 d-flex flex-row align-items-center">

            <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
            <button class="btn btn-sm btn-primary w-100 ml-2" (click) = "changeActiveStatus()" *ngIf = "status">Deactivate</button>
            <button class="btn btn-sm btn-primary w-100 ml-2" (click) = "changeActiveStatus()" *ngIf = "status == false">Activate</button>

               
           </div>


        </div>

            
        </div>
        
    </div>
     
 </div>
 <hr>